<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bubble</title>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top" style="background-color: #212529">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"><h1>BUBBLE</h1></a>
            </div>
        </nav>

        <!-- login-->
        <section class="page-section" id="login">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Find Your Group</h2>
                </div>
                <form id="loginForm" name="loginInput">
                    <div class="row align-items-stretch mb-6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" id="search-group" type="text" placeholder="Find a group"/>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div id="success"></div>
                        <button class="btn btn-primary btn-lg text-uppercase" id="search" type="submit">search</button>
                    </div>
                </form>

                <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/groups-img/6.jpg" alt="" />
                            <h4>Food</h4>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/groups-img/5.jpg" alt="" />
                            <h4>Books</h4>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/groups-img/7.jpg" alt="" />
                            <h4>Travel</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            </div>
        </section>

        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- login form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <!-- Core theme JS-->
        <script src="../makeus_test/startbootstrap-agency-gh-pages/js/scripts.js"></script>
    </body>
</html>
