<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bubble</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"><h1>BUBBLE</h1></a>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/chat">Chat Rooms</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/chatbot">Talk to our Bot</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/profile">Profile</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome To Our Bubble!</div>
                <div class="masthead-heading text-uppercase">We are glad you're here.</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">POP!!</a>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services" style="color: white; background: #212528;">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Offerings</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                        </span>
                        <a href="/chat" style="text-decoration: none;">
                        <h4 class="my-3">Group Chat</h4>
                        <p class="text-muted">Connect with friends with familiar interest.</p>
                    </a>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-user-friends fa-stack-1x fa-inverse"></i>
                        </span>
                        <a href="/groups" style="text-decoration: none;">
                        <h4 class="my-3">Find a friend</h4>
                        <p class="text-muted">Find a person that can understand you.</p>
                        </a>
                    </div>
                        <div class="col-md-4">
                            <span class="fa-stack fa-4x">
                                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                <i class="fas fa-assistive-listening-systems fa-stack-1x fa-inverse"></i>
                            </span>
                            <a href="/chatbot" style="text-decoration: none;">
                            <h4 class="my-3">You talk we listen</h4>
                            <p class="text-muted">Don't wanna interact? No worries, we're here for you.</p>
                            </a>
                            
                        </div>
                    
                </div>
            </div>
        </section>

        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Talents that make bubble possible</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="" />
                            <h4>Soros Wen</h4>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/soros-wen-0725/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="" alt="" />
                            <h4>Ruchika Muddinagiri</h4>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/ruchika-muddinagiri-b1322b16b/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="" />
                            <h4>Garima Chaudhary</h4>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/garima2505/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/4.jpeg" alt="" />
                            <h4>Harsh Tiwari</h4>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/harsh-tiwari-2018/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-left">Copyright © Bubble 2020</div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <!-- Core theme JS-->
        <script src="../makeus_test/startbootstrap-agency-gh-pages/js/scripts.js"></script>
    </body>
</html>
